.container {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

.app{

}

.background{
  /* height: 100%; */
  position: fixed;
  z-index: -1;
  width: 100%;
  right: 0;
  bottom: 0;
  background-position: center;
}
