.primary {
        color: darkorange;
        margin: 20px 0 10px 0;
}

.primary p{
        font-size: 30px;
}

.list{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 20px;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;
}

.item{
        height: 9rem;
        margin-bottom: 2rem;
        background-color:#003648;
        overflow: auto;
        transition: transform .2s;
        border-radius: 20px;
}

.item:hover {
        transform: scale(1.5);
}

.head{
        font-size: 1.5rem;
}

a{
        color: black;
        text-decoration: none;
}

a:hover{
        color: #555;
}

.body{
        font-size: 1rem;
        overflow-y: auto;
        padding-top: 20px;
}


.foot{
        font-size: 1rem;
        position: relative;
        bottom: -40px;
}   

form {
        max-width: 600px;
        margin: 20px auto;
}

.create {
        background: #003648;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        border: 1px solid black;
}

.title, textarea {
        width: 100%;
}

@media screen and (max-width: 480px) {
        .list {
                display: block;
                width: 80%;
        }
}

